<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/download.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="body">
    <div class="container">
      <br><br><br><br><br>
      <hr>
      <h1>Prediction Done!</h1>
      <br><br>
      <hr>
      <h2>Go to Home Page</h2>
      <a href="index.html" target="blank"
        ><button class="btn btn-default">Home Page</button></a
      >
    </div>
  </body>
</html>
